body.serialfruit-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.serialfruit-body > .screen {
    display: none;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.serialfruit-body > #main-menu.screen {
    flex-direction: column;
}

.serialfruit-body > .screen h1 {
    margin-bottom: 20px;
}

.serialfruit-body > .screen button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.serialfruit-body > #color-picker input {
    margin-bottom: 20px;
}

.serialfruit-body > #terminal input {
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

.serialfruit-body > #terminal pre {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    width: 80%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
}
